.container
  .row
    .span4.offset2
      form#signup
        h3 Sign up
        div
          input#name(type="text", name="name", placeholder="Name")
        div
          input#email(type="email", name="email", placeholder="Email")
        div
          input#password(type="password", name="password", placeholder="Password")
        div
          input#submit(type="submit", value="Sign up")
    .span4
      form#login
        h3 Log in
        div
          input#email(type="email", name="email", placeholder="Email")
        div
          input#password(type="password", name="password", placeholder="Password")
        div
          input#submit(type="submit", value="Log in")
